<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Annotations" publicKeyToken="1010a0d8d6380325" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.0" newVersion="11.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Frameworks" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Versioning" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Common" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.PackageManagement" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Configuration" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Protocol" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Packaging.Core" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Packaging" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Resolver" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.ProjectModel" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Commands" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.LibraryModel" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.4" newVersion="4.5.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.runner.utility.net35" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.3858" newVersion="2.3.1.3858"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Shell" publicKeyToken="1010a0d8d6380325" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-112.0.0.0" newVersion="112.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Util" publicKeyToken="1010a0d8d6380325" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-112.0.0.0" newVersion="112.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Core" publicKeyToken="1010a0d8d6380325" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-112.0.0.0" newVersion="112.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ComponentModel" publicKeyToken="1010a0d8d6380325" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-112.0.0.0" newVersion="112.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.RdCore" publicKeyToken="1010a0d8d6380325" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-112.0.0.0" newVersion="112.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.BuildInterfaces" publicKeyToken="1010a0d8d6380325" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-112.0.0.0" newVersion="112.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="5aaa11a165479571" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.18023" newVersion="2.14.0.18023"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Metadata" publicKeyToken="1010a0d8d6380325" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-112.0.0.0" newVersion="112.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.UIInteractive.Shell" publicKeyToken="1010a0d8d6380325" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-112.0.0.0" newVersion="112.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
