<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <!--
            <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.0.2.0" />
            where
                4.6.0.0 is the package version 
                4.0.2.0 is the assembly version (in the output directory)
        -->
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <!-- todo: workaround: behavior introduced with the R# SDK 2025.3 -->
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
                <dependentAssembly>
                    <!-- todo: workaround: behavior introduced with the R# SDK 2025.3 (because of redirection of System.Memory) -->
                    <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                    <bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.0.0.0" />
                </dependentAssembly>
            </assemblyBinding>
        </assemblyBinding>
    </runtime>
</configuration>